@import url('https://fonts.googleapis.com/css2?family=Anton&family=Antonio:wght@100..700&family=Bebas+Neue&display=swap');

.cardpelicula{
  width: 235px;
  margin: 10px;
  background-color: #5c5c5c;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(2, 2, 2, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.descripcionDeClase {
  text-align: center;
}

.ocultar {
  display: none;
}

.overviewCard {
  display: none
}

.cardpelicula h2{
  color:#ddd;
  font-family: "Antonio", sans-serif;
  text-align: center;
   
}

.overviewCard{
  font-size: 20px;
  text-align: center;
  margin: 10px 10px;
  display: block
}

.cardpelicula img{
  border-radius: 10px;
  width: 190px;
  border-bottom: 1px solid #ddd;
  margin-right: 30px;
}

.DescripcionCard{
  text-align: center;
    
}

p{
  color:rgb(186, 182, 182) ; 
  margin: 20px;
  text-align: justify;
}

.cardpelicula button {
  margin-top: 5px;
  padding: 5px;
  background-color: #353332;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
    
}

.Descripción{
  font-size: larger;
  color: #353332;
  text-align: center;
}
  
.cardpelicula button:hover {
  background-color: #5b1914;
}


  