@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600&display=swap');

.search-form {
    position: absolute; 
    top: 50px; 
    right: 20px; 
    font-family: 'Baloo 2', cursive;
}

form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-input {
    padding: 10px;
    font-size: 13px;
    border-radius: 8px;
    border: 2px solid rgb(144, 43, 43);;
    outline: none;
    width: 300px;

}

.search-input:focus {
    border-color: rgb(144, 43, 43);;
}

.search-button {
    background-color:rgb(53, 51, 51);
    color:rgb(193, 193, 193);;
    padding: 10px 20px;
    border: 2px solid rgb(104, 33, 33);;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    
}

.search-button:hover {
    background-color: rgb(61, 20, 20);
}