

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(41, 40, 40);
    color:rgb(193, 193, 193);
    font-family: 'Baloo 2',; 
    position: relative; 
}

.logo {
    display: flex;
    align-items: center;
}


.nav-header {
    position: absolute; 
    top: 30px; 
    left: 140px; 
    display: flex;
    gap: 30px; 
    font-size: 20px; 
    font-weight: 600; 

   
    
   
}
.nav-header :hover{
    color: rgb(250, 250, 250);
}

.user {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 18px;
}

.user img {
    width: 50px;
    margin-left: 10px; 
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100px;
}