@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

/* empiezo con el css de las pages  */

.peliDetalle{
  background-color: rgb(69, 69, 70);
  /* border-radius: 50px; */
  /* display: flex; */
  flex-wrap: wrap;
  /* display: flex; */
  padding: 50px;
  overflow: scroll;
  color: white;
  border-style: solid;
  border-radius: 15px;
  margin-bottom: 100px;
  list-style: none;
  margin: 50px;
  text-align: center;
}

.detalleImg{
  border-radius: 10px;
  align-items: center;
  width: 190px;
  border-bottom: 1px solid #ddd;
  margin: 30px;
}

.Descripcion{
  text-align: center;
    
}

.peliDetalle h1 {
  color: rgb(225, 219, 219);
  text-align: center;
  margin-left: 0px;
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1px;

}

.peliDetalle ul li {
  list-style: none;
  margin-right: 40px;
}

.peliFav{
  background-color: rgb(69, 69, 70);
  border-radius: 50px;
  /* display: flex; */
  flex-wrap: wrap;
  display: flex;
  padding: 50px;
  overflow: scroll;
  color: white;
  border-style: solid;
  border-radius: 15px;
  margin-bottom: 100px;
  list-style: none;
  margin: 25px;
}

.Titulo{
  color:#ddd;
  padding-left: 30px;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1px;
}